[submodule "hw/ips/axi_noc_counter_ip"]
	path = hw/ips/axi_noc_counter_ip
	url = https://github.com/amamory/axi_noc_counter_ip.git
[submodule "hw/ips/hermes-2x2-noc-axis-ip"]
	path = hw/ips/hermes-2x2-noc-axis-ip
	url = https://github.com/amamory/hermes-2x2-noc-axis-ip.git
